// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $red;
  color: white;
  font-size: 1rem;
}

a:hover { text-decoration: underline !important; }

.navbar {
    .navbar-brand { font-size: 32px; }
    .nav-item {
        padding-left: 1px;
        padding-right: 1px;

        &.active {
          a { color: black !important };
          background: white;
          border-radius: 3px;
          max-width: fit-content;
        }
    }
}

// Text
.black-color { color: black; }

.yellow-color {
  color: $yellow !important;
}

input, textarea {
  &.is-invalid {
    border: 1px solid $red;
    color: black;
    margin-top: inherit;
  }
}

.help {
  font-size: 12px;
  margin-top: 5px;
}

.is-invalid {
  color: $red;
  margin-top: 5px;
}

// Footer
footer {
  background: black;
  color: white;
}
