// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: $red;
  color: white;
  font-size: 1rem;
}

//
// Text
//
.underline { text-decoration: underline !important; }

a:hover {
  text-decoration: underline !important;

  img { text-decoration: none !important; }
}

.black-color { color: black; }

.yellow-color { color: $yellow !important; }

//
// Button
//
.btn.btn-primary {
  color: white;
  background-color: $red !important;
  border-color: $red !important;
}

.btn.btn-secondary {
  color: black;
  background-color: $yellow !important;
  border-color: $yellow !important;
}

//
// Form
//
.form-container, .card {
  background: white;
  color: black;
}

.help {
  font-size: 12px;
  margin-top: 5px;
}

//
// Posts
//
.post-text {
  border-radius: 4px;
  background: white;
  padding: 10px;
  color: black !important;

  .byline {
    font-size: 14px;
    font-weight: bold;
    a { color: #091D84; }
  }

  .description {
    font-weight: bolder;
    font-size: 18px;
  }

  .body {
    font-weight: normal;
    font-size: 14px;
  }
}

.post-admin-section {
  padding: 8px 0px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin: 6px 0px;
}

//
// Tags
//
.tag-container {
  display: flex;
  align-items: center;
}

.tag {
  color: black !important;
  background: $yellow;
  border-radius: 16px;
  padding: 5px;
  margin: 0px 6px;
}

//
// Nav
//
.navbar {
  .navbar-brand { font-size: 32px; }
  .nav-item {
    padding-left: 1px;
    padding-right: 1px;
  }
}

//
// Flash Alerts
//
.alert-primary {
  color: white;
  background-color: #091D84;
  border-color: #091D84;

  .close {
    color: white;
    opacity: 0.8;
  }
}

//
// Footer
//
footer {
  background: black;
  color: white;
}
